.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
bin
gen
.classpath
obj
assets/config.xml
assets/qcar-resources.dat
libs/QCAR.jar
/libs/armeabi
/libs/armeabi-v7a
local.properties
proguard.cfg

